<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="findhackathon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>findhackathon</title>
</head>
<body>
    <div class="big-card">
        <div class="head">
            <header>HACKATHONS-DIRECTORIES</header>
            <div class="nav-search">
                <input type="text" placeholder=" Search Hackathons..." class="search-input">
                <div class="search-icon">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>      
                </div>
            </div>
        </div>
        <!-- CARDS -->
        <div class="card-box">
            <div class="cards-container">
                <div class="card">
                    <!-- <img src="hackathon1.jpg" alt="Hackathon 1"> -->
                    <h3>Hackathon 1</h3>
                    <p>Location: New York, USA</p>
                    <p>Start Date: 12/09/2024</p>
                    <p>End Date: 15/09/2024</p>
                   <a href="/hackathon"> <button class="btn">Details</button></a>
                </div>
                <div class="card">
                    <!-- <img src="hackathon2.jpg" alt="Hackathon 2"> -->
                    <h3>Hackathon 2</h3>
                    <p>Location: London, UK</p>
                    <p>Start Date: 15/09/2024</p>
                    <p>End Date: 18/09/2024</p>
                    
                   <a href="/hackathon"> <button class="btn">Details</button></a>

                </div>
                <div class="card">
                    <!-- <img src="hackathon3.jpg" alt="Hackathon 3"> -->
                    <h3>Hackathon 3</h3>
                    <p>Location: Paris, France</p>
                    <p> Start Date: 18/09/2024</p>
                    <p>End Date: 21/09/2024</p>
                   <a href="/hackathon"> <button class="btn">Details</button></a>
                    
                </div>
                <div class="card">
                    <!-- <img src="hackathon4.jpg" alt="Hackathon 4"> -->
                    <h3>Hackathon 4</h3>
                    <p>Location: Tokyo, Japan</p>
                    <p>Start Date: 21/09/2024</p>
                    <p>End Date: 24/09/2024</p>
                   <a href="/hackathon"> <button class="btn">Details</button></a>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html> 