<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="formteams1.css">
    <style>
                   
    </style>
</head>
<body><div class="heading">
    <h1>Form Your Own Team</h1>
           <h3>Powered By BrainBridges</h3>
</div>
    <div class="container">
        <% people.forEach(function(i){ %>
            <div class="box">
                <h2><%= i.name %></h2>
                <p><%= i.skills %></p>
                <button type="button">View More</button>
            </div>
            
       <% }); %>
       
    </div>
    
</body>
</html>