<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Formation Options</title>
    <link rel="stylesheet" href="formteam.css">
</head>
<body>
    <h2>Choose Your Domain</h2>

    <div class="container">
        <div class="option-box" onclick="handle_click('app')">App Development</div>
        <div class="option-box" onclick="handle_click('Web development')">Website Development</div>
        <div class="option-box" onclick="handle_click('blockchain')">Blockchain</div>
        <div class="option-box" onclick="handle_click('AI and ML')">AI & ML</div>
        <div class="option-box" onclick="handle_click('Other')">Other</div>
    </div>

    <script>
        function handle_click(event)
        {
            window.location.href=`/teams?value=${event}`;
        }
    </script>
</body>
</html>