
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1f293d; */
  height: 100vh;
  background-image: url(login_background.jpg);
}
.biggie-shadow{
  display: flex;
  height:90vh;
  width:90%;
  border: 2px solid #00a0ff;
  border-radius: 20px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  z-index: 1;
  /* box-shadow: 0px 0px 50px rgba(0, 160, 255, 0.75); need to see later*/

}
.bg-img{
  /* float: left; */
  /* background-image: url(ride2.jpg); */
  /* background-size: 100px 100px; */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-blend-mode: multiply; */
  /* height: 100vh; */
  /* width: 100%; */
  /* transform: skewY(-10deg); */
  /* overflow: hidden; */
  width: 60%;
  height: 100%;
}
.container {
  /* position: relative; */
  margin-top: 6.2%;
  margin-left:3%;
  width: 40%;
  height: 80%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color:rgba(6, 167, 247, 0.0);
  /* backdrop-filter: blur(25px); */
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
  /* .container span {
    position: absolute;
    left: 0;
    width: 20px;
    height: 5px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animate 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
  } */
  /* @keyframes animate {
    0% {
      background: #0ef;
    }
    25% {
      background: #2c4766;
    }
  } */
  .login-box {
    position: absolute;
    width: 400px;
  }
  .login-box form {
    width: 100%;
    padding: 0 50px;
  }
  h1 {
    font-size: 2.3em;
    color: #263238;
    text-align: center;
    padding:4px 7px 4px 7px;
  }
  .input-box {
    position: relative;
    margin: 25px 0;
  }
  .input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #000;
    padding: 0 20px;
    transition: 0.5s ease;
  }
  .input-box input:focus,
  .input-box input:focus {
    border: 3px solid #00a0ff;
    /* box-shadow: 0 0 3px #00a0ff, 0 0 3px #00a0ff, 0 0 3px #00a0ff, 0 0 3px #00a0ff; */
    /* border: 3px solid #2c4766; */
    background-color:rgba(6, 167, 247, 0.1);
  }
  .input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s ease;
    color: #00a0ff;
    font:0.9em;
    font-weight: 600;
  }
  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: 1px;
    font-size: 0.8em;
    background: #fff;
    border:0.6px solid #00a0ff;
    border-radius: 5px;
    padding: 0 6px;
    color: #00a0ff;
  }
  .btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 1.3em;
    font-weight:500;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #1f293d;
    /* background: #00a0ff; need to see later*/
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #1f293d;
    border-radius: 30px;
    padding: 5px 30px;
    z-index: 1;       
    overflow: hidden;
    transition: color 1s, box-sahdow 1s;
    margin-bottom: 10px;
  }
  .btn:hover {
    transition-delay: 0s, 1s;
    color: white;
    /* box-shadow: 0 0 10px #0ef, 0 0 20px #0ef, 0 0 40px #0ef, 0 0 80px #0ef,
      0 0 160px #0ef; */
  }
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0%;
    height: 100%;
    background-color: #00a0ff;
    /* background: #1f293d; need to see later*/
    transform: skewX(-35deg);
    z-index: -1;
    transition: 1s;
  }
  .btn:hover::before {
    width: 100%;
  }
  
  form .link-text {
    margin: 15px;
    color: #1f293d;
    font-size: 0.85rem;
    text-align: center;
    /* font-family:'roboto'; */
  }
  form .link-text a {
    text-decoration: none;
    color: #00a0ff;
    font-weight: 700;
  }
  form .link-text a:hover {
    text-decoration: underline;
  }