<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!--=================== Google Fonts ====================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <!--=================== Remixicons ====================-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!--=================== SwiperJS CSS ====================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <!--=================== Main CSS ====================-->
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

    <!--=================== Header ====================-->
    <header id="header" class="header">
        <div class="container">
            <nav class="nav">
                <a href="index.html" class="nav__brand">
                    <i class="ri-code-s-slash-line" style="color: black;"></i>Portfolio</Span>
                </a>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#hero" class="nav__link" style="color: black;">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link"
                            style="color: black;">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="#service" class="nav__link"
                            style="color: black;">Skills</a>
                        </li>
                        <li class="nav__item">
                            <a href="#project" class="nav__link"
                            style="color: black;">Work</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact"  class="nav__link"
                            style="color: black;">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="nav__toggle">
                    <i id="nav-toggle" class="ri-menu-3-line"></i>
                </div>
            </nav>
        </div>
    </header>
    <!--=================== main ====================-->
    <main class="main">
        <!--=================== Hero ====================-->
        <section id="hero" class="hero">
            <div class="container">
                <div class="d-grid hero__wrapper">
                    <div class="hero__content">
                        <h1 class="hero__title" style="color: blue;">Hi, I am <br>Tanishka Garg<br>Backend Developer.</h1>
                        <p class="hero__description">I'm a driven and dedicated software developer with a passion for crating efficient and effective solutions.
                            I strive to deliver high-quality and user-friendly software that meets the needs of clients and end-users. Let's work together to bring your next project to life.
                        </p>
                        <div class="hero__info">
                        </div>
                    </div>
                    <img src="assets/img/women.png" alt="" class="hero__img" style="height: 450px;">
                </div>
            </div>
        </section>

        <!--=================== About ====================-->
        <section id="about" class="section about">
            <div class="container">
                <div class="section__header">
                    <h2 class="section__title" style="color: black;">About Me</h2>
                    <span class="section__subtitle">Who am I</span>
                </div>
                <div class="d-grid about__wrapper">
                    <div class="about__content">
                        <h3 class="about__title" style="color: rgb(58, 107, 231);">I'm a Professional and Experienced Software Developer.</h3>
                        <p class="about__description">I have  a strong focus on creating intuitive and efficient software solutions to meet the needs of clients and end-users.
                            When I'm not coding, I love to stay up-to-date with the latest technology trends and imporiving my skills.
                            I'm always eager to take new challenges and work with a team to deliver exceptional results.
                        </p>
                        <a href="#project" class="btn btn--primary">Know More</a>
                    </div>
                    <div class="skills">
                        <h3 class="skills__title" style="color: rgb(14, 14, 103);">Technologies I've been working with:</h3>
                        <div class="skills__wrapper">
                           
                            <div class="skills__content">
                                <h4 class="skills__subtitle">Since I am a passinate learner, I keep on developing my skills, as followings are my skills</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================== Qualification ====================-->
        <section id="qualification" class="section qualification">
            <div class="container">
                <div class="section__header">
                    <h2 class="section__title" style="color: black;">Experience</h2>
                    <span class="section__subtitle">Experience & Education</span>
                </div>
                <!--============== Professional Experience ============-->
                <div class="qualification__wrapper">
                    <h3 class="qualification__name" style="color: rgb(55, 26, 246); font-size: 30px;">
                        <i class="ri-briefcase-fill" style="color: black;"></i>
                        Professional Experience
                    </h3>
                    <div class="d-grid qualification__content">
                        <!-- Experience 1-->
                        <div class="qualification__item">
                            <h3 class="qualification__title" style="color: rgb(25, 30, 180);">Freelance software Developer</h3>
                            <p class="qualification__description">As a freelance software developer, I am passionate about creating innovative and effective software solutions thats meet the unique needs of my clients.
                                Whether it's building a custom web application or automating business processes, I bring expertise and creativity to every project, 
                                and I am always looking for new and challenging projects to tackle.
                            </p>
                            <span class="qualification__date">2021 - Present</span>
                        </div>
                        
                    </div>
                </div>
                <!--============== Education ============-->
                <div class="qualification__wrapper">
                    <h3 class="qualification__name" style="color: rgb(55, 26, 246); font-size: 30px;">
                        <i class="ri-booklet-fill" style="color: rgb(0, 0, 0);"></i>
                        Education
                    </h3>
                    <div class="d-grid qualification__content">
                        <!-- Education 1-->
                        <div class="qualification__item">
                            <h3 class="qualification__title" style="color: rgb(25, 30, 180);">My Education have been:</h3>
                            <p class="qualification__description">As a computer science student, I have a strong foundation in algorithms, data structures, software design and Development.
                                My coursework has provided me with a deep understanding of the principles and practices of computer science,
                                and I have honed my programming skills through various projects and assignments.
                            </p>
                            <span class="qualification__date">2020 - 2024</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================== services ====================-->
        <section id="service" class="section service">
            <div class="container">
                <div class="section__header">
                    <h2 class="section__title"style="color: rgb(55, 26, 246); font-size: 30px;">Skills</h2>
                    <span class="section__subtitle">What I do</span>
                </div>
                <div class="d-grid service__wrapper">
                    <!--========= service card 1 =========-->
                    <div class="service__card">
                        <div class="service__icon">
                            <i class="ri-layout-4-fill" style="color: black;"></i>
                        </div>
                        <h3 class="service__title" style="color: black;">Frontend<br>Development</h3>
                        <a href="#" class="service__link" style="color: black;">Know More</a>
                    </div>
                    <!--========= service card 2 =========-->
                    <div class="service__card">
                        <div class="service__icon" >
                            <i class="ri-code-s-slash-line" style="color: black;"></i>
                        </div>
                        <h3 class="service__title" style="color: black;">Backend<br> Development</h3>
                        <a href="#" class="service__link" style="color: black;">Know More</a>
                    </div>
                </div>
            </div>
        </section>

        <!--=================== Projects ====================-->
        <section id="project" class="section project">
            <div class="container">
                <div class="section__header">
                    <h2 class="section__title"  style="color: rgb(55, 26, 246); font-size: 30px;">Projects</h2>
                    <span class="section__subtitle">My recent work</span>
                </div>
                <div class="d-grid project__wrapper">
                    <!--============== project 1 =============-->
                    <div class="project__content">
                        <!-- <img src="assets/img/project2.png" alt="Agency Website" class="project__img"> -->
                        <h3 class="project__title" style="color: rgb(103, 59, 247);">XYZ</h3>
                        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur consequatur blanditiis.</p>
                        <a href="#" class="project__link" style="color: black;">View Project
                            <i class="ri-arrow-right-line"></i></a>
                    </div>
                    <!--============== project 2 =============-->
                    <div class="project__content">
                        <h3 class="project__title" style="color: rgb(103, 59, 247);">ABC</h3>
                        <p class="project__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis totam quis velit.</p>
                        <a href="" class="project__link" style="color: black;">View Project
                            <i class="ri-arrow-right-line"></i></a>
                    </div>
                    <!--============== project 3 =============-->
                    <div class="project__content">
                        <h3 class="project__title" style="color: rgb(103, 59, 247);">LKS</h3>
                        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque exercitationem aspernatur perferendis.</p>
                        <a href="" class="project__link" style="color: black;">View Project
                            <i class="ri-arrow-right-line"></i></a>
                    </div>
                    <!-- ============== project 4 ============= -->
                    <div class="project__content">
                        <h3 class="project__title" style="color: rgb(103, 59, 247);">ABCX</h3>
                        <p class="project__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem dolore et!</p>
                        <a href="#" class="project__link" style="color: black;">View Project
                            <i class="ri-arrow-right-line"></i></a>
                    </div>
                </div>
            </div>
        </section>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <!--=================== Contact ====================-->
        <section id="contact" class="section contact">
            <div class="container">
                <div class="d-grid contact__wrapper">
                    <div class="contact__content">
                        <h2 class="contact__title" style="color: rgb(55, 123, 231);">Interested in working together? Let's talk</h2>
                        <p class="contact__description">
                            Ready to work together on your next software project? I'd love to hear from you! 
                            Feel free to get in touch using the contact information below.
                            Whether uou have a specific project in mind or just want to chat about your software development needs , I am here to help.
                            I will respond to your message as quickly as possible and look forward to connecting with you soon.
                        </p>
                    </div>
                    <div class="contact__btn">
                        <a href="#contact" class="btn btn--secondary" style="color: black; background-color: rgb(117, 163, 237);">Get in touch</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--=================== footer ====================-->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="d-grid footer__wrapper">
                <div class="footer__content">
                    <h4 class="footer__title" style="color: black;">Email Me</h4>
                    <a href="#" class="footer__contact">abcdefg@gmail.com</a>
                </div>
                <div class="footer__content">
                    <h4 class="footer__title" style="color: black;">Contact Me</h4>
                    <a href="#" class="footer__contact">+91 9999xxxxx</a>
                </div>
            </div>
            <p class="footer__copyright" style="color: white;">&copy; 2024 BrainBridges. All Rights Reserved</p>
        </div>
    </footer>

    <!--=================== SwiperJS  ====================-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!--=================== ScrollReveal ==================-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--=================== Main JS ====================-->
    <script src="assets/js/main.js"></script>
</body>

</html>

