body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: baseline;
}

.logo img {
  width: 40px;
  height: auto;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #26DCE8;
}

nav button {
  width: 70px;
  height: 30px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

nav button:hover {
  background-color: #f0f0f0;
}

/* .hero img {
  height: 300px;
  width: 100%;
} */
.sliderframe{
  overflow: hidden;
  height: 400px;
  width: 100%;
  margin-left: 300px;
  /* margin-right: 120px; */
margin-top: 20px;

}
@-webkit-keyframes slide_animation{
  0%{left:0px;}
  10%{left:0px;}
  20%{left:1200px;}
  30%{left:1200px;}
  40%{left:2400px;}
  50%{left:2400px;}
  60%{left:1200px;}
  70%{left:1200px;}
  80%{left:0px;}
  90%{left:0px;}
  100%{left:0px;}
}
.sliderimages{
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position:relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  

}
.imgcontainer{
  height: 800px;
  width: 1200px;
  position: relative;
  float: left;
  
}
.intro {
  padding: 20px;
  background-color: #f9f9f9;
  justify-content: center;
  text-align: center;
  
}

.intro p {
  margin-bottom: 20px;
}

.feature-container {
  padding-left: 200px;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
}

.feature-box {
  background-color: white;
  border: 2px solid #b0b0b0;
  padding: 20px;
  width: 500px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline-style: groove;
  outline-color: #252E5D;
}

.feature-box h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.feature-box p {
  margin: 0 0 20px;
  font-size: 0.9em;
  color: #666666;
}

.feature-box button {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  outline-style: groove;
  outline-color: #252E5D;
  text-align: center;
  justify-self: center;
  width: 130px;
}
.feature-box:hover{
  color: #fff;
}
.feature-box p:hover{
  color: #fff;
}

.feature-box:hover{
background-image: linear-gradient(100deg,rgb(13, 253, 209),rgb(43, 190, 243), rgb(0, 119, 255) );

}
.feature-box button:hover {
  background-color: #1faac3;
}
