<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="formteams1.css">
    <style>
                   
    </style>
</head>
<body><div class="heading">
    <h1>Form Your Own Team</h1>
           <h3>Powered By BrainBridges</h3>
</div>
<!-- Search Bar -->
<div class="search-container">
    <input type="text" id="searchBar" onkeyup="searchFunction()" placeholder="Search for names..">
</div>
    <div class="container">
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Rakshit Awasthi</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Shubhi Rusiya</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Yash Singh</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Sudeepti Singh</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Tanishka Garg</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Rakshit Awasthi</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="man.png" alt="" srcset="">
            <h2>Yash Singh</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
        <div class="box">
            <img src="woman.png" alt="" srcset="">
            <h2>Sudeepti Singh</h2>
            <p>Backend Devloper</p>
            <button type="button">View More</button>
        </div>
    </div>
    <script>
        function searchFunction() {
            var input, filter, container, boxes, h2, i, txtValue;
            input = document.getElementById('searchBar');
            filter = input.value.toUpperCase();
            container = document.getElementById("teamContainer");
            boxes = container.getElementsByClassName('box');

            for (i = 0; i < boxes.length; i++) {
                h2 = boxes[i].getElementsByTagName("h2")[0];
                txtValue = h2.textContent || h2.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    boxes[i].style.display = "";
                } else {
                    boxes[i].style.display = "none";
                }
            }
        }
    </script>  
</body>
</html>