<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login 3</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="biggie-shadow">
        <div class="container">
            <div class="login-box">
                <h1>Login</h1>
                <form action="/login" method="post"> 
                    <div class="input-box">
                        <input type="email" required name="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-box">
                        <input type="password" required maxlength="8" minlength="4" name="password">    
                        <label for="password">Password</label>
                    </div>
                    <p class="link-text">
                        Forget password ?
                        <a href="#">Click Here</a>
                    </p>
                    
                    <button type="submit" class="btn">Login</button>
                    
                    <p class="link-text">
                        Create an Account
                        <a href="/signup">Click Here</a>
                    </p>
                </form> 
            </div>
        </div>
        <div class="bg-img">
            <img src="ride3.png" height="100%" width="90%" >
        </div>
    </div>
    
</body>
</html>