<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="organize.css">
    <title>Organize</title>
</head>
<body>
    <div class="partition">
        <div class="Organize">
            <h1>Organize your Ride</h1>
            <p>Organize your ride by creating a schedule, setting priorities, and tracking your progress.</p>
            <button>Organize</button>
        </div>
        
        <div class="homepage">
            <h1>Go to homepage</h1>
            <a href="index.html">
                <div class="icon-border">
                  <i class="fa-solid fa-house" style="color: #000000;"></i>
                </div>
            </a>              
            <p>Click on Home icon to go back to the homepage.</p>
        </div>
    </div>
    
    
</body>
</html>